{% extends 'thenx/dash_base.html' %}

{% block title %} Home {% endblock title %}

{% block nav %}Home{% endblock nav %}

{% block dashcontent %}

    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">Welcome back
                        <span>{{ user.username.capitalize }}!</span>
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->

    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">{{ comp }}</h2>
                        <span class="desc">Total Competitors</span>
                        {#                        <h2 class="number"></h2>#}
                        <hr>
                        <h4><span class="desc">Total competitor urls: {{ totalc }}</span></h4>
                        <h4>&nbsp;</h4>
                        <div class="icon">
                            <i class="zmdi zmdi-cloud-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">{{ totalp }}</h2>
                        <span class="desc">total products</span>
                        <hr>
                        <h4><span class="desc">Brands: {{ tbrands }}</span></h4>
                        <h4><span class="desc">Categories: {{ tcats }}</span></h4>

                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">{{ pindex }}</h2>
                        <span class="desc">Index</span>
                        <hr>
                        <h4>&nbsp;</h4>
                        <h4>&nbsp;</h4>
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number">{{ recentlychanged }}</h2>
                        <span class="desc">prices changed recently</span>
                        <hr>
                        <h5><span class="desc text-sm-left">Increased {{ increased }}</span></h5>
                        <h5><span class="desc text-sm-left">Decreased {{ decreased }}</span></h5>
                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row m-t-30">
        <div class="col-lg-5">
            <div class="au-card m-b-30">
                <div class="au-card-inner">
                    <h3 class="title-2 m-b-40">Position</h3>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
        <!-- END STATISTIC-->
        <!-- Competitor Table -->
        <div class="col-lg-7">
            <div class="col-md-12">
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Products</th>
                            <th>Match Rate</th>
                            <th>Index</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in complist %}
                            <tr>
                                <td>{{ c.0 }}</td>
                                <td>{{ c.1 }}</td>
                                <td>
                                    <div class="progress mb-2" style="height: 20px;">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                             role="progressbar" style="width: {{ c.2 }}%;" aria-valuenow="{{ c.2 }}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>{{ c.3 }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>
    </div>
    <!-- END Competitor Table -->
    <div class="row m-t-30">
        <div class="col-md-12">
            <div class="table-data__tool-left" style="padding-left: 2%">

                <h3 class="title-5 m-b-35">products summary</h3>
                <div class="rs-select2--light rs-select2--md">
                    <form value="{{ request.GET.brand }}" method="GET" id="brandform">
                        <select class="js-select2 form-control" name="brand" id="selectbrand"
                                onchange="this.form.submit()">
                            <option value="All" ; {% if request.GET.brand == None %}selected{% endif %}>All Brands
                            </option>
                            {% for o in brands %}
                                <option value="{{ o }}"
                                        {% if request.GET.brand == o %}selected{% endif %}>{{ o }}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </form>
                </div>
                <div class="rs-select2--light rs-select2--md">
                    <form value="{{ request.GET.supplier }}" method="GET" id="brandform">
                        <select class="js-select2 form-control" name="supplier" id="selectbrand"
                                onchange="this.form.submit()">
                            <option value="All" ; {% if request.GET.supplier == None %}selected{% endif %}>All
                                Suppliers
                            </option>
                            {% for o in suppliers %}
                                <option value="{{ o }}"
                                        {% if request.GET.supplier == o %}selected{% endif %}>{{ o }}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </form>
                </div>
                <div class="rs-select2--light rs-select2--md">
                    <form value="{{ request.GET.category }}" method="GET" id="brandform">
                        <select class="js-select2 form-control" name="category" id="selectbrand"
                                onchange="this.form.submit()">
                            <option value="All" ; {% if request.GET.category == None %}selected{% endif %}>All
                                Categories
                            </option>
                            {% for o in categories %}
                                <option value="{{ o }}"
                                        {% if request.GET.category == o %}selected{% endif %}>{{ o }}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </form>
                </div>
                <div class="table-data__tool-right">
                    <form class="row form-header" value="{{ request.GET.q }}" method="GET"
                          style="position:absolute; padding-right: 2%; right: 1%;">
                        {#                    {% csrf_token %}#}
                        <input class="au-input au-input--xl" type="text" name="q" value="{{ request.GET.q }}"
                               placeholder="Search for Products..."/>
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>

            <br>
            <br>
            <br>
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Competitors</th>
                        <th>Base Cost</th>
                        <th>price</th>
                        <th>Smart Price</th>
                        <th>Date Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in list %}
                        <tr>
                            <td><a>{{ p.SKU }}</a>
                            </td>
                            <td><a href="{% url 'thenx:specificproduct' p.SKU %}">{{ p.name }}</a></td>
                            <td>{{ p.brand }}</td>
                            <td class="process">
                                {% for c in p.competitor_url_set.all %} {{ c.comp_name }}
                                    {% if p.competitor_url_set.count != forloop.counter %},{% endif %}{% endfor %}
                            </td>
                            <td>{{ p.base_cost }}</td>
                            <td>{{ p.price_list_set.first.finalprice }}</td>
                            <td>{{ p.price_list_set.first.competitorprice }}</td>
                            <td>{{ p.dateupdated }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
    <div class="col-md-12">
        {#        <div class="row justify-content-center">#}
        {#    <span class="step-links">#}
        <nav aria-label="Page navigation example" class="navbar navbar-expand-lg navbar-dark bg-transparent rounded">
            <ul class="navbar-nav mr-auto">
                <li class="page-item"><a class="btn btn-dark" href="?page=1">&laquo; first</a></li>
                {% if list.has_previous %}
                    <li class="page-item {% if not list.has_previous %} disabled {% endif %}" style="padding-left: 10%">
                        <a class="btn btn-dark" href="?page={{ list.previous_page_number }}" tabindex="-1">previous</a>
                    </li>
                {% endif %}
            </ul>
            {#        <span class=" justify-content-center">#}
            <ul>
                <li class="page-item">
                    Page {{ list.number }} of {{ list.paginator.num_pages }}
                </li>
            </ul>
            {#        </span>#}
            <ul class="navbar-nav ml-auto">
                {% if list.has_next %}
                    <li class="page-item {% if not list.has_next %} disabled {% endif %}" style="padding-right: 10%">
                        <a class="btn btn-dark" href="?page={{ list.next_page_number }}">next</a>
                    </li>
                {% endif %}

                <ul class="navbar-nav ml-auto">
                    <li class="page-item"><a class="btn btn-dark" href="?page={{ list.paginator.num_pages }}">last
                        &raquo;</a></li>
                </ul>

        </nav>
        {#    </span>#}
    </div>

    <script>
        $(function () {
            try {

                //pie chart
                var ctx = document.getElementById("pieChart");
                if (ctx) {
                    ctx.height = 200;
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: [{{ imcheapest }}, {{ imcheaper }}, {{ imaverage }}, {{ imhigher }}, {{ imhighest}}, {{ imequal }}],
                                backgroundColor: [
                                    "rgba(62, 51, 204, 1)",
                                    "rgba(255, 125, 0, 0.8)",
                                    "rgba(255, 228, 0, 1)",
                                    "rgba(0, 255, 176, 1)",
                                    "rgba(47, 0, 147, 1)",
                                    "rgba(135, 255, 16, 1)",
                                ],
                                hoverBackgroundColor: [
                                    "rgba(0, 123, 255,0.9)",
                                    "rgba(0, 123, 255,0.7)",
                                    "rgba(0, 123, 255,0.5)",
                                    "rgba(0,0,0,0.07)",
                                    "rgba(135, 255, 16, 1)",
                                    "rgba(0, 255, 176, 1)",
                                ]

                            }],
                            labels: [
                                "I'm Cheapest",
                                "I'm Cheaper",
                                "Average",
                                "I'm Higher",
                                "I'm Highest",
                                "All Equal",
                            ]
                        },
                        options: {
                            legend: {
                                position: 'top',
                                labels: {
                                    fontFamily: 'Poppins'
                                }

                            },
                            responsive: true
                        }
                    });
                }


            } catch (error) {
                console.log(error);
            }
        })
    </script>
{% endblock dashcontent %}