{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThenX -{% block title %} Home {% endblock title %}</title>
    {# Favicon #}
    <link rel="shortcut icon" type="image/png" href="{% static 'thenx/favicon.png' %}"/>
    <!-- Fontfaces CSS-->
    <link href="{% static 'thenx/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'thenx/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">


    <!-- Vendor CSS-->
    <link href="{% static 'thenx/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet"
          media="all">
    <link href="{% static 'thenx/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'thenx/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'thenx/css/theme.css' %}" rel="stylesheet" media="all">
    <!-- Jquery JS-->
    <script src="{% static 'thenx/vendor/jquery-3.2.1.min.js' %}"></script>
</head>
<body class="animsition">
<!--<p>Welcome to dash</p>-->
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <a href="{% url 'thenx:dashboard' %}">
                        <img src="{% static 'thenx/dashlogo.png' %}" alt="THENX PARSER"/>
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'thenx:dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="bot-line"></span>Shop</a>
                        </li>
                        <li>
                            <a href="{% url 'thenx:products' %}">
                                <i class="fas fa-trophy"></i>
                                <span class="bot-line"></span>Products</a>
                        </li>
                        <li>
                            <a href="{% url 'thenx:rules' %}">
                                <i class="fas fa-copy"></i>
                                <span class="bot-line"></span>Rules</a>
                        </li>
                    </ul>
                </div>
                <div class="header__tool">
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="content">
                                <a class="js-acc-btn" href="#">{{user.username}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="{% url 'thenx:dashboard' %}">{{user.username}}</a>
                                        </h5>
                                        <span class="email">
                                        {% if user.email %}
                                            {{user.email}}
                                        {% else %}
                                            No Email Provided
                                        {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <div class="account-dropdown__footer">
                                    <form id='dash-logout' action="{% url 'thenx:logout' %}" method="POST">
                                        {% csrf_token %}
<!--                                        <input type="hidden" name="logout" value="{{ request.GET.next }}" />-->
<!--                                        <input class="btn btn-primary btn-md my-2 p" type="submit" value="">-->
                                        <a href="javascript:void(0);" onclick="document.getElementById('dash-logout').submit();">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="{% url 'thenx:dashboard' %}">Dashboard</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">{% block nav %}Home{% endblock %}</li>
                                </ul>
                            </div>
{#                        Search can be implemented if needed #}
{#                            <form class="au-form-icon--sm" action="" method="post">#}
{#                                <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for products...">#}
{#                                <button class="au-btn--submit2" type="submit">#}
{#                                    <i class="zmdi zmdi-search"></i>#}
{#                                </button>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

{% block dashcontent %} {% endblock %}
<!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2020 THENX. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
</div>


    <!-- Vendor JS       -->
    <script src="{% static 'thenx/vendor/slick/slick.min.js' %}" >
    </script>
    <script src="{% static 'thenx/vendor/wow/wow.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/animsition/animsition.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %} ">
    </script>
    <script src="{% static 'thenx/vendor/counter-up/jquery.waypoints.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/counter-up/jquery.counterup.min.js' %}" >
    </script>
    <script src="{% static 'thenx/vendor/circle-progress/circle-progress.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/perfect-scrollbar/perfect-scrollbar.js' %}" ></script>
    <script src="{% static 'thenx/vendor/chartjs/Chart.bundle.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/select2/select2.min.js' %}" >
    </script>
    <!-- Bootstrap JS-->
    <script src="{% static 'thenx/vendor/bootstrap-4.1/popper.min.js' %}" ></script>
    <script src="{% static 'thenx/vendor/bootstrap-4.1/bootstrap.min.js' %}" ></script>
    <!-- Main JS-->
    <script src="{% static 'thenx/js/main.js' %} "></script>
    <script>
    $(function () {
        // inspect html to check id of category select dropdown.
        $(document).on('input', "#sku", function () {
            var elem = $("#sku").val();
            $.ajax({
                url: {% url 'thenx:validatesku' %},
                type: 'get',
                data: {sku:elem},
                dataType: 'json',
                success: function(resp){
                    if (resp.result === "False"){
                        $("#skuerror").show();
                    }
                    else{
                        $("#skuerror").hide();
                    };
                }
        });
        });
    })
    </script>
    <script>
    $(function () {
        // inspect html to check id of category select dropdown.
        $(document).on('input', "#sku1", function () {
            var elem = $("#sku1").val();
            $.ajax({
                url: {% url 'thenx:validatesku' %},
                type: 'get',
                data: {sku:elem},
                dataType: 'json',
                success: function(resp){
                    if (resp.result === "False"){
                        $("#skuerror1").show();
                    }
                    else{
                        $("#skuerror1").hide();
                    };
                }
        });
        });
    })
    </script>
        <script>
        $(function () {
            // inspect html to check id of category select dropdown.
            $(document).on('change', "select#selection", function () {
                if ($(this).val() == "sup" || $(this).val() == "cat") {
                    if ($(this).val() == 'sup') {
                        var options = '<option value="">Select Supplier</option>';
                        options += '<option value="all">All Suppliers</option>';
                    } else if ($(this).val() == 'cat') {
                        var options = '<option value="">Select Category</option>';
                        options += '<option value="all">All Category</option>';
                    }
                    $("#skuinput").hide();
                    $("#supcatdiv").show();
                    $.getJSON("{% url 'thenx:details' %}", {'choice': $(this).val()}, function (j) {
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i] + '">' + j[i] + '</option>';
                        }
                        // inspect html to check id of subcategory select dropdown.
                        $("select#supcat").html(options);
                    });
                } else if ($(this).val() == "sku"){
                    $("#supcatdiv").hide();
                    $("#skuinput").show();
                }
                else{
                    $("#supcatdiv").hide();
                    $("#skuinput").hide();
                }
            });
        });

        $(function (){
            $(document).on('change', "select#selection2", function () {
                if ($(this).val() == "sup" || $(this).val() == "cat") {
                    if ($(this).val() == 'sup') {
                        var options = '<option value="">Select Supplier</option>';
                    } else if ($(this).val() == 'cat') {
                        var options = '<option value="">Select Category</option>';
                    }
                    $("#skuinput2").hide();
                    $("#supcatdiv2").show();
                    $.getJSON("{% url 'thenx:details' %}", {'choice': $(this).val()}, function (j) {
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i] + '">' + j[i] + '</option>';
                        }
                        // inspect html to check id of subcategory select dropdown.
                        $("select#supcat2").html(options);
                    });
                } else if ($(this).val() == "sku"){
                    $("#supcatdiv2").hide();
                    $("#skuinput2").show();
                }
                else {
                    $("#supcatdiv2").hide();
                    $("#skuinput2").hide()
                }
            });
        })
    </script>
</div>
</body>

</html>