{% extends 'thenx/dash_base.html' %}

{% block title %} Home {% endblock title %}

{% block nav %}Home{% endblock nav %}

{% block dashcontent %}

    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">Welcome back
                        <span>{{ user.username.capitalize }}!</span>
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->

    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">{{ totalc }}</h2>
                        <span class="desc">Total competitor urls added</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">{{ totalp }}</h2>
                        <span class="desc">total products</span>
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">{{ comp }}</h2>
                        <span class="desc">Total Competitors</span>
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number">0</h2>
                        <span class="desc">prices changed recently</span>
                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">products summary</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="row m-t-30">
        <div class="col-md-12">
            <div class="table-data__tool-left" style="padding-left: 2%">
                <div class="rs-select2--light rs-select2--md">
                    <form value="{{ request.GET.brand }}" method="GET" id="brandform">
                        <select class="js-select2 form-control" name="brand" id="selectbrand" onchange="this.form.submit()" >
                            <option value="All"; {% if request.GET.brand == None %}selected{% endif %}>All Brands</option>
                            {% for o in brands %}
                                <option value="{{ o }}" {% if request.GET.brand == o %}selected{% endif %}>{{ o }}</option>
                            {% endfor %}
                        </select>
                        <div class="dropDownSelect2"></div>
                    </form>
                </div>
                <div class="table-data__tool-right">
                    <form class="row form-header" value="{{ request.GET.q }}" method="GET"
                          style="position:absolute; padding-right: 2%; right: 1%;">
                        {#                    {% csrf_token %}#}
                        <input class="au-input au-input--xl" type="text" name="q" value="{{ request.GET.q }}"
                               placeholder="Search for Products..."/>
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Competitors</th>
                        <th>price</th>
                        <th>Date Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in list %}
                        <tr>
                            <td>{{ p.SKU }}</td>
                            <td><a href="{{ p.originalurl }}">{{ p.name }}</a></td>
                            <td>{{ p.brand }}</td>
                            <td class="process">
                                {% for c in p.competitor_url_set.all %} {{ c.comp_name }}
                                    {% if p.competitor_url_set.count != forloop.counter %},{% endif %}{% endfor %}
                            </td>
                            <td>{{ p.price }}</td>
                            <td>{{ p.dateupdated }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
{% endblock dashcontent %}