{% extends 'thenx/dash_base.html' %}

{% block title %}Margin Rules
{% endblock title %}

{% block nav %}Margin Rules {% endblock nav %}

{% block dashcontent %}
    <form action="{% url 'thenx:marginsrules' %}" method="post">
        {% csrf_token %}
        <div class="row form-group col-md-16">
            <label class="form-control-label" style="padding-left: 1.4%">Add
            </label>

            <div class="col-8 col-md-2">
                <select id="type" name="whichprice" class="form-control-sm form-control" required>
                    <option value="wholesale" selected>Wholesale</option>
                    <option value="retail">Retail</option>
                </select>
            </div>

            <label class="form-control-label" style="padding-left: 1.4%">price:
            </label>

            <div class="col col-sm-2">
                <input type="text" id="additional" name="cost" placeholder="additional"
                       class="input-sm form-control-sm form-control" required>
            </div>


            <div class="col-8 col-md-1">
                <select id="type" name="pricetype" class="form-control-sm form-control" required>
                    <option value="ron">RON</option>
                    <option value="%">%</option>
                </select>
            </div>

            <label for="selectSm2" class="form-control-label">for:</label>


            <div class="col-8 col-md-2">
                <select name="appliedon" id="selection" class="form-control-sm form-control" required>
                    <option value="0" selected disabled>select</option>
                    <option value="sup">Supplier</option>
                    <option value="cat">Category</option>
                    <option value="sku">Product SKU</option>
                </select>
            </div>

            <div class="col-8 col-md-2" id="supcatdiv" style="display: none">
                <select name="supcat" id="supcat" class="form-control-sm form-control">
                </select>
            </div>
            <div class="col col-sm-1" id="skuinput" style="display: none">
                <input type="text" name="sku" placeholder="SKU" id="sku"
                       class="input-sm form-control-sm form-control">
            </div>
            {% if messages %}
                {% for message in messages %}
                    <span class="badge badge-danger">{{ message }}</span>
                {% endfor %}
            {% endif %}
            <span class="badge badge-danger" style="display: none" id="skuerror">This Product SKU does not Exist</span>
        </div>

        <button type="submit" class="col-md-12 btn btn-outline-success btn-sm" style="right: 0%">
            <i class="fa fa-magic"></i>&nbsp; Add rule
        </button>
    </form>
    <hr>
    <br><br>

    {#    Applied Rules List  #}

    <div class="col-md-12">
        {% if rules.count != 0 %}
            <div class="vue-lists">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-4">Applied Rules:</h2>
                        <ul>
                            {% for r in rules %}
                                <li>
                                    <form action="{% url 'thenx:deleterule' ruleid=r.pk rule="margin" %}"
                                          method="post">
                                        {% csrf_token %}
                                        Add {{ r.whichprice }} price {{ r.price }} {{ r.pricetype }}
                                        for {% if r.appliedon == "sup" %} Supplier {% elif r.appliedon == "cat" %}
                                        Category {% else %} Product SKU {% endif %}: {{ r.value }}

                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <h3 class="mb-auto">No Rules Applied.</h3>
        {% endif %}
    </div>


{% endblock dashcontent %}