{% extends 'thenx/dash_base.html' %}

{% block title %}Warranty Rules
{% endblock title %}

{% block nav %}Warranty Rules {% endblock nav %}

{% block dashcontent %}
    <form action="{% url 'thenx:warrantyrules' %}" method="post">
    {% csrf_token %}
        <div class="row form-group col-md-16">
            <label for="selectSm3" class="form-control-label" style="padding-left: 1.4%">Set Warranty</label>
            <div class="col col-sm-2">
                <input type="text" id="input-small" name="warranty" placeholder="Warranty in Days"
                       class="input-sm form-control-sm form-control" required>
            </div>
            <label for="selectSm2" class="form-control-label">For</label>
            <div class="col-8 col-md-2">
                <select name="applyon" id="selection" class="form-control-sm form-control" required>
                    <option value="0">select</option>
                    <option value="sup">Supplier</option>
                    <option value="cat">Category</option>
                    <option value="sku">Product SKU</option>
                </select>
            </div>

            <div class="col-8 col-md-2" id="supcatdiv" style="display: none">
                <select name="supcat" id="supcat" class="form-control-sm form-control">
                </select>
            </div>
            <div class="col col-sm-1" id="skuinput" style="display: none">
                <input type="number" name="sku" id="sku" placeholder="SKU Input"
                       class="input-sm form-control-sm form-control">
            </div>
            <span class="badge badge-danger" style="display: none" id="skuerror">This Product SKU does not Exist</span>
        </div>
        <input type="hidden" name="url" value="{% url 'thenx:warrantyrules' %}">
        <input type="hidden" name="type" value="warranty">
        <button type="button" onclick="this.form.submit()" class="col-md-12 btn btn-outline-success btn-sm" style="right: 0%">
            <i class="fa fa-magic"></i>&nbsp; Add rule
        </button>
    </form>


{% endblock dashcontent %}