{% extends 'thenx/dash_base.html' %}

{% block title %} Parser Rules
{% endblock title %}

{% block nav %}Parser Rules {% endblock nav %}

{% block dashcontent %}
    <form action="{% url 'thenx:parserrules' %}" method="post">
        {% csrf_token %}
        <div class="row form-group col-md-16">
            <label for="selectSm" class="form-control-label" style="padding-left: 1.4%">My price should
                be</label>
            <div class="col-12 col-md-1">
                <select name="HL1" id="HL" class="form-control-sm form-control" required>
                    {#                    <option value="0" disabled selected>Select Range</option>#}
                    <option value="higher">Higher</option>
                    <option value="average">Average</option>
                    <option value="cheaper">Cheaper</option>
                </select>
            </div>

            <div class="col col-sm-1">
                <input type="text" id="input-small" name="than1" placeholder="RON / %"
                       class="input-sm form-control-sm form-control" required="required"/>
            </div>


            <div class="col-8 col-md-1">
                <select name="thantype" id="SelectLm2" class="form-control-sm form-control" required>
                    {#                    <option value="0">Type</option>#}
                    <option value="Ron">RON</option>
                    <option value="%">%</option>
                </select>
            </div>

            <label for="selectSm2" class="form-control-label">than</label>


            <div class="col-8 col-md-1">
                <select name="HL2" id="SelectLm2" class="form-control-sm form-control" required>
                    {#                    <option value="0">Please select</option>#}
                    <option value="highest" selected>Highest</option>
                    <option value="cheapest">Cheapest</option>
                    <option value="average">Average</option>
                </select>
            </div>

            <label for="selectSm" class=" form-control-label">of</label>
            <div class="col-8 col-md-1">
                <select name="comp" id="SelectLm2" class="form-control-sm form-control" required>
                    <option value="all Competitors" selected>All Competitors</option>
                    {% for _ in totalcomps %}
                        <option value="{{ forloop.counter }} Competitors">{{ forloop.counter }} Competitors</option>
                    {% endfor %}
                </select>
            </div>

            <label for="selectSm" class=" form-control-label">but it should not be lower than my final cost +</label>

            <div class="col col-sm-1">
                <input type="text" id="input-small" name="notlowerthan" placeholder="RON / %"
                       class="input-sm form-control-sm form-control">
            </div>


            <div class="col-8 col-md-1">
                <select name="notlowerthantype" id="SelectLm2" class="form-control-sm form-control">
                    <option value="Ron" selected>RON</option>
                    <option value="%">%</option>
                </select>
            </div>

        </div>

        <button type="submit" class="col-md-12 btn btn-outline-success btn-sm" style="right: 0%">
            <i class="fa fa-magic"></i>&nbsp; Add rule
        </button>
    </form>
    <hr>
    <br><br>

    {#    Applied Rules List  #}

    <div class="col-md-12">
        {% if rules.count != 0 %}
            <div class="vue-lists">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-4">Applied Rules:</h2>
                        <ul>
                            {% for r in rules %}
                                <li>

                                    <form action="{% url 'thenx:deleterule' ruleid=r.pk rule="parser" %}"
                                          method="post">
                                        My price should be {{ r.priceshouldbe }} {{ r.than }} {{ r.thantype }}
                                        than {{ r.thanHL }} of {{ r.competitor }} but it should not be lower than final cost
                                        + {{ r.butnotlowerthan }} {{ r.butnotlowerthantype }}
                                        {% csrf_token %}
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <h3 class="mb-auto">No Rules Applied.</h3>
        {% endif %}
    </div>

{% endblock dashcontent %}